@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #202425;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.loader-circle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

@keyframes loader-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

:root {
    --body-color: rgba(250, 250, 250);
    --color-white: rgba(250, 250, 250);
    --text-color-second: rgba(38, 37, 37);
    --first-color: #2E8B57;
    --first-shadow: rgba(0, 0, 0, 0.1);
    --box-color: #fff;
    --nav-color: #fff;
    --nav-icon: #000;
    --logo-color: #000;
    --text-color: #FFF;
    --icon-color: #2E8B57;
    --mode-color: #ccc;

}

body {
    background: var(--body-color);
}


.container {
    width: 100%;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

/* Navigation Bar */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 100px;
    background: transparent;
    padding-inline: 10vw;
    transition: 0.3s;
    z-index: 100;
}

.nav-logo {
    position: relative;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--logo-color);
}

.nav-menu,
.nav_menu_list {
    display: flex;
    column-gap: -30px;
}

.nav-menu .nav_list {
    list-style: none;
    position: relative;
}

.logo a {
    color: var(--text-color);
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 28px;
    cursor: pointer;
    color: #FFF;
}

/* Particles js */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000000;
}

/* Main Wrapper */
.wrapper {
    padding-inline: 10vw;
}

/* Featured Section */
.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;

}

.featured-text .hello {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: -20px;
    color: var(--text-color);
}

.featured-name {
    font-size: 30px;
    font-weight: 600;
    margin-block: 20px;
    color: #2E8B57;
    margin-bottom: 10px;
}

.typedText {
    font-family: sans-serif;
    color: #2E8B57;
    font-size: 0.5em;
    font-weight: 600;
    text-transform: capitalize;
}

.text-info {
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--text-color);
}

.text-btn {
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    gap: 20px;
}

.text-btn .btn {
    border: none;
    color: #f4f4f4;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.btn {
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    background: #2E8B57;
    font-weight: 500;
    transition: all 0.5s ease;
}

.btn i {
    margin-right: 10px;
}

i {
    font-size: 16px;
}

/* Social Icons */
.socical_icons {
    display: flex;
    margin-top: 30px;
}

/* Redes sociais  */

ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -17px;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--text-color);
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #ff0000;
}

/* Featured Image */
.featured-image {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 80vh;
    width: 100%;
}

.image {
    margin-top: 10%;
    width: 320px;
    height: 320px;
    border-radius: 40%;
    overflow: hidden;
    animation: imgFloat 5s ease-in-out infinite;
}

.image img {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

@keyframes imgFloat {
    50% {
        transform: translateY(50px);
    }
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    padding-block: 40px 60px;
}

.middle-footer .footer-menu {
    display: flex;
}

.footer_menu_list {
    list-style: none;
}

.footer_menu_list a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    margin-inline: 20px;
}

.footer_menu_list a:hover {
    color: #2E8B57;
}

.footer-social-icons {
    display: flex;
    gap: 30px;
    color: var(--color-white);
}

.bottom-footer {
    font-size: 14px;
    margin-top: 10px;
    color: var(--text-color);
}

/* ABOUT */

.about {
    width: 100%;
    height: auto;
    padding: 0rem 0rem 2.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content-about {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.content-about-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.content-about-left span {
    font-size: 1.6rem;
    font-weight: 300;
}

.content-about-left h1 {
    color: #FFF;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.content-about-left p {
    font-size: 1.1rem;
    font-weight: 300;
    padding-top: 1.5rem;
    color: #FFF;
}

.cta-about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding-top: 1.6rem;
}

.btn-about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-social {
    width: 100%;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    padding-top: 1.6rem;
    height: 100%;
}

.about-social a {
    font-size: 1.5rem;
    color: var(--white);
    transition: transform 0.3s ease, color 0.3s ease;
    transform: translateY(0);
}

.about-social a:hover {
    transform: translateY(-5px);
}

.about-social a:hover .fa-github {
    color: #454545;
}

.about-social a:hover .fa-linkedin {
    color: #0e76a8;
}

.about-social a:hover .fa-tiktok {
    color: #353535;
}

.about-social a:hover .fa-instagram {
    color: #e4405f;
}

.content-about-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-about img {
    width: 100%;
}

/* Estilos base para o ícone do chevron */
.chevron-down {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.4s ease-out;
    opacity: 0;
    user-select: none;
}

.chevron-down img {
    width: 32px;
}

/* Animação para o movimento suave do chevron */
@keyframes bounce {

    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-20px);
    }
}

/*SKILLS*/
.skills {
    width: 100%;
    height: auto;
    padding: 2.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.container-skills {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skills-headline {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.skills-headline span {
    font-size: 1.6rem;
    font-weight: 300;
}

.skills-headline h1 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.skills-headline p {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 300;
    padding-top: 1.6rem;
    color: var(--gray);
}

.list-about {
    padding-top: 1.6rem;
}

.container-list {
    display: flex;
    gap: 2rem;
}

.container-list i {
    color: #2E8B57;
}

.list-about li {
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    
}

.skills-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 2rem 0rem;
}

.card-tech {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.3s ease;
}

.card-tech img {
    width: 50%;
    opacity: 1;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.card-tech:hover {
    transform: translateY(-5px);
}

.card-tech:hover img {
    opacity: 0.6;
    filter: brightness(0) invert(1);
}

.card-tech:hover img[data-tech="html"] {
    filter: sepia(1) hue-rotate(-35deg) saturate(5);
}

.card-tech:hover img[data-tech="css"] {
    filter: sepia(1) hue-rotate(180deg) saturate(10);
}

.card-tech:hover img[data-tech="js"] {
    filter: sepia(1) hue-rotate(45deg) saturate(10);
}

.card-tech:hover img[data-tech="bootstrap"] {
    filter: sepia(1) hue-rotate(265deg) saturate(8);
}
/* Projetos inicio  */

/* PROJECTS */
.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    color: #FFf;
}

.container-projects {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content-projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container dos cards */
.cards-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
}

/* Card individual */
.card-project {
    background-color: #151515;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    height: 100%;
}

.card-project:hover {
    transform: translateY(-5px);
}

/* Imagem do projeto */
.img-project {
    /* background-color: #FFF; */
    border-radius: 25px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* Conteúdo do card */
.content-card {
    color: #d0caca;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

/* Texto do projeto */
.text-project {
    width: 100%;
    text-align: left;
}

.text-project h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem;
}

.text-project span {
    font-size: 1rem;
    /* color: #FFF; */
    font-weight: 300;
    display: block;
    margin-bottom: 0.5rem;
}

.text-project p {
    font-size: 1rem;
    font-weight: normal;
    color: var(--gray);
    margin-bottom: 1rem;
}

/* Seção de tags e botão */
.cta-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.tag-project {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tag-project i {
    font-size: 1.5rem;
    color: var(--white);
    transition: color 0.3s ease;
}

/* Efeito de hover nos ícones */
.tag-project i:hover.fa-html5 {
    color: #e34c26;
}

.tag-project i:hover.fa-css3-alt {
    color: #1572B6;
}

.tag-project i:hover.fa-js {
    color: #F7DF1E;
}

.tag-project i:hover.fa-bootstrap {
    color: #7952B3;
}

.tag-project i:hover.fa-wordpress {
    color: #21759B;
}

.tag-project i:hover.fa-wix {
    color: #8c8c8c;
}

.btn-project a {
    display: block;
    text-align: center;
    padding: 0.7rem;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn-project a:hover {
    background-color: #0056b3;
}


/* Media Queries */
/* menu reponsivo */
@media only screen and (max-width: 1024px) {
    .featured-text {
        padding: 0;
    }

    .image,
    .image img {
        width: 320px;
        height: 320px;
    }
}

@media only screen and (max-width: 900px) {
    .nav-menu-btn {
        display: none;
    }

    .logo-icone {
        display: none;
    }

    .nav-menu.responsive {
        left: 0;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(199, 197, 197, 0.7);
        backdrop-filter: blur(5px);
        width: 300px;
        border-radius: 0px 30px 0px 30px;
        min-height: 450px;
        height: 100vh;
        transition: 0.3s;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .featured-box {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .featured-text {
        width: 100%;
        order: 2;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        min-height: 60vh;
    }

    .socical_icons {
        margin-top: 2em;
    }

    .featured-image {
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }

    .image,
    .image img {
        width: 150px;
        height: 150px;
    }

    .row {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .col {
        justify-content: center;
        width: 100%;
    }

    .about-info,
    .contact-info {
        width: 100%;
    }

    .project-container {
        justify-content: center;
    }

    .project-box {
        width: 80%;
    }

    .mode {
        margin-left: 60%;
    }
}

@media only screen and (max-width: 540px) {
    .featured-name {
        font-size: 30px;
    }

    .project-box {
        width: 100%;
    }

    .form-inputs {
        flex-direction: column;
    }

    .input-field {
        width: 100%;
    }

    .mode {
        margin-left: 50%;
    }
}