body {
    font-family: Arial, sans-serif;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    width: 20rem;
    height: 14rem;
    transition: transform 0.5s, box-shadow 0.5s;
    position: relative;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #f3f4f6;
    box-shadow: 0 1px 3px rgba(209, 213, 219, 0.3);
  }
  
  .card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    position: absolute;
    transition: transform 0.7s, box-shadow 0.7s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    bottom: -2.5rem;
    right: -2.5rem;
    width: 50%;
    height: 50%;
    border-radius: 0.5rem;
    background-color: #e5e7eb;
  }
  
  .card:hover .card-image {
    transform: translate(-1rem, -1rem);
  }
  
  .card-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #1f2937;
  }
  
  .card-content p {
    color: #4b5563;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .card-button {
    background-color: #e5e7eb;
    color: #1f2937;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card-button:hover {
    background-color: #d1d5db;
  }
  